<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citcalldemo.citcalljavaexample">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_citcall"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_citcall"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.citcalldemo.citcalljavaexample.Success"></activity>
        <activity android:name="com.citcalldemo.citcalljavaexample.InputOtp" />
        <activity android:name="com.citcalldemo.citcalljavaexample.MobileVerification" />
        <activity android:name="com.citcalldemo.citcalljavaexample.NoPermissionActivity" />
        <activity android:name="com.citcalldemo.citcalljavaexample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.citcalldemo.citcalljavaexample.PhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>